<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="organotiki.mobile.mobilestreet">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="organotiki.mobile.mobilestreet.MyApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/karabassis_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity-->
        <!--android:name=".MyWebView"-->
        <!--android:label="@string/app_name">-->
        <!--</activity>-->
        <activity
            android:name=".LogInScreen"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".MainScreen"
            android:label="@string/mobileStreet">
        </activity>
        <activity
            android:name=".NewOrder"
            android:label="@string/order"
            android:parentActivityName=".MainScreen"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="organotiki.mobile.mobilestreet.MainScreen" />
        </activity>
        <activity
            android:name=".Sync"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/sync"
            android:parentActivityName=".MainScreen"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="organotiki.mobile.mobilestreet.MainScreen" />
        </activity>
        <activity
            android:name=".OnlineReports"
            android:configChanges="orientation|screenSize"
            android:label="@string/onlineReports"
            android:parentActivityName=".MainScreen"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="organotiki.mobile.mobilestreet.MainScreen" />
        </activity>
        <activity
            android:name=".Collections"
            android:configChanges="orientation|screenSize"
            android:label="@string/collections"
            android:parentActivityName=".MainScreen"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="organotiki.mobile.mobilestreet.MainScreen" />
        </activity>
        <activity
            android:name=".MyWebView"
            android:configChanges="orientation|screenSize"
            android:label="@string/onlineReports"
            android:parentActivityName=".OnlineReports"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="organotiki.mobile.mobilestreet.OnlineReports" />
        </activity>
        <activity
            android:name=".CustomerReport"
            android:label="@string/customerReport"
            android:parentActivityName=".MainScreen"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="organotiki.mobile.mobilestreet.MainScreen" />
        </activity>
        <activity
            android:name=".AdditionalCustomerDetails"
            android:label="@string/additionalCustomerDetails"
            android:parentActivityName=".CustomerReport"
			android:screenOrientation="landscape" 
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="organotiki.mobile.mobilestreet.CustomerReport" />
        </activity>
        <activity
            android:name=".Items"
            android:label="@string/items"
            android:parentActivityName=".NewOrder"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="organotiki.mobile.mobilestreet.NewOrder" />
        </activity>
        <activity
            android:name=".CheckOut"
            android:label="@string/checkOut"
            android:parentActivityName=".NewOrder">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="organotiki.mobile.mobilestreet.NewOrder" />
        </activity>
        <activity
            android:name=".Returns"
            android:label="@string/returns"
            android:parentActivityName=".MainScreen"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="organotiki.mobile.mobilestreet.MainScreen" />
        </activity>
        <activity
            android:name=".ItemsReturns"
            android:label="@string/items"
            android:parentActivityName=".Returns"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="organotiki.mobile.mobilestreet.Returns" />
        </activity>
        <activity
            android:name=".CheckOutReturns"
            android:label="@string/checkOut"
            android:parentActivityName=".Returns">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="organotiki.mobile.mobilestreet.Returns" />
        </activity>
        <activity
            android:name=".Bookmarks"
            android:label="@string/bookmarks"
            android:parentActivityName=".MainScreen"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="organotiki.mobile.mobilestreet.MainScreen" />
        </activity>
		<activity 
			android:label="@string/customerBrowser"
			android:name=".CustomerBrowser"
			android:screenOrientation="landscape" 
			android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" 
			android:parentActivityName=".MainScreen">
            <meta-data 
				android:name="android.support.PARENT_ACTIVITY" 
				android:value="organotiki.mobile.mobilestreet.MainScreen"/>
        </activity>
        <activity
            android:name=".B2B"
            android:label="@string/b2b"
            android:parentActivityName=".CustomerReport"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="organotiki.mobile.mobilestreet.CustomerReport" />
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
			

    </application>

</manifest>